[Unit]
Description=VideoT16: таймер отключения Wi-Fi настройки

[Timer]
OnBootSec=15min
Unit=videot16-wifi-timeout.service

[Install]
WantedBy=timers.target
